# .github/workflows/docker_build.yml
name: Docker Validator

on:
  workflow_dispatch:
  push:
    paths:
      - "**/Dockerfile"
      - "**/docker-test.yml"
      - "**/docker-compose.yml"
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - "**/Dockerfile"
      - "**/docker-test.yml"
      - "**/docker-compose.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Dockerfile validator
      uses: ghe-actions/dockerfile-validator@v3
      with:
        dockerfile: 'Dockerfile'
        lint: 'hadolint'

    - name: Docker-compose validator
      run: touch .env && docker-compose config
